@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<form method="post">

    <input name="no1" value="@ViewData["no1"]" />

    <input name="no2" value="@ViewData["no2"]" />

    <input name="answer" value="@ViewData["answer"]" />

    <input type="submit" value="addition" name="op" formaction="Add">


</form>

